{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/imdb/">IMDB</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"
                  >Movie</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <h3 class="text-center">
        <b class="text-danger">THIS IS IMDB RATING PAGE</b>
      </h3>
      <p class="text-light bg-dark">
        IMDb is an online database of information related to films, television
        series, home videos, video games, and streaming content online –
        including cast, production crew and personal biographies, plot
        summaries, trivia, ratings, and fan and critical reviews. The title and
        talent pages of IMDb are accessible to all users, but only registered
        and logged-in users can submit new material and suggest edits to
        existing entries. Most of the site's data has been provided by these
        volunteers. Registered users with a proven track record are able to add
        and make corrections to cast lists, credits, and some other data points.
        However, the addition and removal of images, and alterations to titles,
        cast and crew names, character names, and plot summaries are subject to
        an approval process; this usually takes between 24 and 72 hours.
        Registered users can choose their username, and most are pseudonymous.
        There is no single index of contributors, no index on each profile page
        of the items contributed, and—except for plot synopses and
      </p>

      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-outline-dark btn-lg">
          <a href="https://en.wikipedia.org/wiki/IMDb">View More</a>
        </button>
      </div>
    </div>
  </body>
</html>
